.idea
.mvn
client/target/archive-tmp
client/target/classes
client/target/generated-sources
client/target/maven-archiver
client/target/maven-status
client/target/client-1.0.0.jar
common/target/classes
common/target/generated-sources
common/target/maven-archiver
common/target/maven-status
common/target/common-1.0.0.jar
logs
server/target/archive-tmp
server/target/classes
server/target/generated-sources
server/target/maven-archiver
server/target/maven-status
server/target/server-1.0.0.jar
Lab6.iml

