Информатика/Аннотации/Шаблон/main.tex linguist-vendored=true
Программирование/Lab5/javadoc/*.html linguist-generated=true
Программирование/Lab5/javadoc/*.js linguist-generated=true
Программирование/Lab5/javadoc/*.css linguist-generated=true
Программирование/Lab5/javadoc/*/*.html linguist-generated=true
Программирование/Lab5/javadoc/*/*.js linguist-generated=true
