Информатика/Аннотации/Шаблон/main.tex linguist-vendored=true
Базы\ данных/Lab2/lab2.sql linguist-language=PLpgSQL
Программирование/Lab5/src/Main.java linguist-language=Java
Программирование/Lab5/src/*/*.java linguist-language=Java
Программирование/Lab5/javadoc/*.html linguist-generated=true
Программирование/Lab5/javadoc/*.js linguist-generated=true
Программирование/Lab5/javadoc/*.css linguist-generated=true
Программирование/Lab5/javadoc/*/*.html linguist-generated=true
Программирование/Lab5/javadoc/*/*.js linguist-generated=true
